@import './vars';

/* buttons */

.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.button-small {
  font-size: .7rem;
  font-weight: 700;
}

.button-accent {
  color: $primColor;
  border-color: $primColor;

  &:hover,
  &:focus {
    background: $primColor;
    color: $secColor;
  }
}

// .button-accent:hover,
// .button-accent:focus {
//   background: #00ff6c;
//   color: #232323;
// }

.button-dark {
  color: $secColor;
  border-color: $secColor;

  &:hover,
  &:focus {
    background: $secColor;
    color: $primColor;
  }
}

// .button-dark:hover,
// .button-dark:focus {
//   background: #232323;
//   color: #00ff6c;
// }