/* typography
=================== */

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: .9em;
}

.title-cta {
  margin: 0 0 .5em;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width:60rem) {

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.7rem;
  }
}