@import './../utils/vars';

/* Footer
=================== */

footer {
  background: $secColor;
  color: #fff;
  text-align: left;
  padding: 5em 0;
  position: relative;

  div.copy {
    display: block;
    text-align: center;
    position: relative;
    bottom: -4em;
  }


  .social i {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $primColor;
    }
  }

  .cuprins a,
  .terms a {
    font-size: 0.80em;


  }
}