@import './../utils/vars';

/* Footer
=================== */

footer {
  background: $secColor;
  color: #fff;
  text-align: left;
  padding: 5em 0;
  position: relative;

  div.copy {
    display: block;
    text-align: center;
    position: relative;
    bottom: -4em;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $primColor;
    }
  }

  .social {

    //text-align: center;
    a:hover {
      color: $primColor;
      border: 0;
    }

    i {
      font-size: 1.6rem;
      padding: 0.5rem;
    }
  }



  .cuprins a,
  .terms a {
    font-size: 0.90em;
    line-height: 1.6rem;



  }
}