/* header
=================== */
@import '../utils/vars';

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 1em;
  }

  a {
    font-weight: 900;
    text-decoration: none;
    padding: .5em;
    text-transform: uppercase;
    color: white;
    font-size: .8rem;
  }

  a:hover,
  a:focus {
    color: $primColor;
  }

  .menu-phone {
    a {
      color: $primColor;
      border: 1px transparent solid;
      font-size: 1.2em;
      outline-style: solid;
      outline-color: $primColor;
      outline-width: thin;
    }

  }
}

@media (min-width:60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

@media (max-width:29rem) {
  .menu-phone {
    display: block;
  }



}