/* Parallax
=================== */

.parallax--bg,
.parallax--box {
  transition: initial;
}

@import './../parts/header';

@import './../parts/hero';
@import './../parts/portofolio';
@import './../parts/cta';

.home-about ul li {
  line-height: 1.7rem;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $primColor;
    }
  }
}

@media (max-width:25rem) {

  .home-about-textbox p:first-of-type {
    margin-top: 2em;
    //color: red;
  }


}